header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
     height: 100%;
     position: relative;
}

/*====cta====*/
.cta{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}

/*====social====*/
.Social{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
    font-size: 1.5rem;
}
.Social::after{
    content: "";
    height: 2rem;
    width: 2px;
    color: black;
}
.header__img img{
    height: 28rem;
    
}
.header__img{
    background:linear-gradient(var(--color-primary), transparent) ;
    width: 22rem;
    height: 28rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0 ;
    padding: 3rem 1rem 1rem 1rem;
    overflow: hidden;
}
.scroll__name{
    position: absolute;
    right: -2.3rem;
    bottom: 7rem;
    transform: rotate(90deg);

}

@media screen and (max-width:1024px) {
  header{
  height: 110vh;
    padding: 2rem;
  }
  .header__img img{
    height: 100%;
 }
 .header__img{
    height: 80%;
    margin-top: 2rem;
  
 }
}

@media screen and (max-width:600px) {
    header{
        height: 100vh;
        padding: 2rem;

    }
    .Social, .scroll__name{
        display: none;
    }
    .header__img img{
        height: 100%;
     }
}

@media screen and (max-width:350px) {
    .cta{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .cta a{
        padding: .4rem;
        font-size: .7rem;
    }
    .header__img img{
      width: 100%;
      height: 100%;
  
    }
    
        .header__img{
            background:linear-gradient(var(--color-primary), transparent) ;
            width: 16rem;
            height: 30rem;
            position: absolute;
            left: calc(50% - 11rem);
            margin-top: 3rem;
            border-radius: 16rem 16rem 0 0 ;
            padding: 2rem .6rem .6rem .6rem;
            overflow: hidden;
            margin-left: 3rem;
        }

    
}

@media screen and (max-width:450px) {
 .header__img img{
    height: 100%;
 }
 
}


@media screen and (max-width:1700px) {
    header{
    height: 110vh;
      padding: 2rem;
    }
    .header__img img{
      height: 100%;
   }
   .header__img{
      height: 80%;
      margin-top: 2rem;
    
   }
  }
  