header{
    padding-top: 4rem;
   
}
.header__img img{
    height: 500px;
}
.header__img{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header__container{
    text-align: center;
     height: 100%;
     position: relative;
    display: flex;
    justify-content: space-between;
}
.head h5{
    margin-top:  4rem;
}

/*====cta====*/
.cta{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 1.3rem;
}

/*====social====*/
.Social{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    margin-top: 1rem;
    font-size: 2rem;
   
   
}


.scroll__name{
  
  
   

}

@media screen and (max-width:1024px) {
 .head h5{
    margin-top: 0;

 }
 .head{
    margin-top: 5rem;
 }
 header{
    padding: 1px;
   
 }
 .header__container{
    margin: 1rem;
    margin-right: 1ren;
    justify-content: space-between 5rem;
    width: 95vw;

    
 }
 .header__img{
    margin-left: 3rem;
    overflow: hidden;
  
    
 }
 .header__img img{
    width: 400px;
 }
}

@media screen and (max-width:600px) {
    header{
      width: 100vw;
   

    }
    .header__img img{
        margin: auto;
        height: auto;
        margin-left: 2px;
        width: 380px;
        
    }
    .header__img{
        margin: auto;
        overflow: hidden;
        margin-left: 2px;
    }
    .header__container{
        display: block;
        overflow: initial;
    }

}

@media screen and (max-width:350px) {
    .cta{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    .cta a{
        padding: .4rem;
        font-size: .7rem;
    }
    .header__img img{
        width: 250px;
    }
   
    
    
}

@media screen and (max-width:750px) {
    .header__container{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .header__img img{
        margin: auto;
    }
    .header__img{
        margin: 0;
        overflow: hidden;
    }
}


@media screen and (max-width:2000px) {
    .header__container{
        width: 60%;
    }
  
}

@media screen and (max-width:1280px) {
    .header__container{
        width: 85%;
    }

}
 